.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  font-family: 'Archivo';
  font-size: 2rem; /* Optional: adjust size */
  font-weight: bold;
  margin-left: 10px;
}

h2{
  font-family: 'Archivo';
  font-weight: bold;
  margin-left: 10px;
}

.special{
  display: inline-block;
}

h3{
  font-family: 'Archivo';
  font-weight: bold;
  margin-left: 10px;
}

p{
  font-family: 'Archivo';
  font-weight: bold;
  margin-left: 10px;
}

.input-group {
  width: auto;
  max-width: 120px;
}

.input-group > .form-control {
  flex: 0 0 auto;
  width: 40px; /* Adjust as needed */
  height: 30px; /* Set a fixed height */
  line-height: 30px; /* Match line-height to height for vertical centering */
  padding: 0 5px 2px 18px; /* Remove default padding */
  font-size: 16px; /* Make the number more visible */
  text-align: center; /* Ensure horizontal centering */
  border: 1px solid #ccc; /* Optional: restore border for visual clarity */
  border-radius: 4px; /* Optional: round corners */
}

.input-group > .btn {
  flex: 0 0 auto;
  height: 30px;        /* Match input height */
  padding: 0 10px;     /* Control horizontal padding */
  font-size: 16px;     /* Match input text size */
  display: flex;       /* Center content vertically */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}

.btn {
  margin-left: 10px;
  margin-bottom: 20px;
}

#orderButton {
  margin-top: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
